<% provide(:title, "Log in") %>
<div id="login_main">
    <div class="login_form">
      <div class="title">Log in</div>
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, placeholder: "メールアドレス" %>

          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "パスワード" %>

          <%= f.submit "Log in", class: "btn" %>
        <% end %>

      <p>New user? <%= link_to "Sign up now!", root_path %></p>
    </div>
</div>